<div class="primary-content t-border">
    <p class="intro">
        Greengo Golf brings teachers and students together to improve your golf swing.  Designed for the teacher to analyze and convey information regarding the golf swing to students.
    </p>
</div>