<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="demo-content flexible"></div>
            <img alt="golfworld 2014 12 gwsl08 crazy army golf" src="http://media.golfdigest.com/photos/55adb0cfb01eefe207f8b0cd/master/w_757,h_505,c_limit/golfworld-2014-12-gwsl08-crazy-army-golf.jpg" data-reactid=".26zckzt1j40.2.1.0:1.0.0.3.0.0.0.5.0.0.$8.$8.0.0.0.0">
            <br> 
            <span><a href="http://www.golfweek.com/rss/headlines/professional-golf/pga-tour/">Golf Week</a></span>
            <br><br>
            <span>  <a href="http://www.usga.org/OutboundRss.aspx?id=7779">USGA News</a></span>
            <br><br>
            <a href="http://www.golfchannel.com/">The Golf Channel</a>
            <br><br>
            <a href="http://www.golf.com/">Golf News</a>
            <br><br>
            <a href="http://www.golfweek.com/">Golf News</a>
            <br><br>
            <a href="http://www.lpga.com/">LPGA</a>
            <br><br>
            <span>  <a href="http://www.usga.com/">USGA</a></span>
            <br><br>
            <img alt="golfworld 2014 12 gwsl16 crazy noggin" src="http://media.golfdigest.com/photos/55adb0d3add713143b447190/master/w_757,h_505,c_limit/golfworld-2014-12-gwsl16-crazy-noggin.jpg" data-reactid=".26zckzt1j40.2.1.0:1.0.0.3.0.0.0.5.0.0.$16.$16.0.0.0.0">

            
        </div>
        <!--Middle column-->
        <div class="col-sm-9 col-md-8">
            <div class="demo-content bg-alt"></div>
            <p>
            <h3>Intro</h3>
            If you Google golf instruction you will be returned with 3,160,000 hits and let me tell you something…I think that I have been to every single one of those sites! It started around 2000 while I was in the Air Force.&nbsp;Myself and three buds, all of whom had played the game of golf, started playing together every weekend. We would end our shift at 0700 and be on the first tee at 0900. Weather didn’t matter either, heck I remember one time we went out in March (in VA) and it was about 35 degrees and raining. I don’t know what we were thinking but I remember one hole in particular, it was a par 5, cold and rainy. I hit a pretty decent drive then rolled a 3 wood, rolled another 3 wood only this time my club went farther than the ball, doffed a long iron, and then proceeded to hole out from about 150 for par. My buddy looked at me and said “Nice Quad” J Nope it was a par but sure felt like a quad!!</p><br>
            <img class="microcontent" data-fragment="lead-image" data-image="http://i.amz.mshcdn.com/188ad0zSGokzVzqu6TKiUcTccL4=/950x534/2013%2F05%2F08%2Fcd%2FPhilGetty.92972.png" data-micro="1" data-url="null" src="http://i.amz.mshcdn.com/188ad0zSGokzVzqu6TKiUcTccL4=/950x534/2013%2F05%2F08%2Fcd%2FPhilGetty.92972.png">
            
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="demo-content flexible"></div>
            <div id="sidebar"> </div>
            <a href="http://www.facebook.com/business/dashboard/" title="Make your own badge!" target="_TOP" style="font-family:&quot;font-size:11px;font-variant:normal;font-style:normal;font-weight:normal;color:#3B5998;text-decoration:none;">Promote Your  facebook page here!</a>
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSttNHmlAr1uhiLvTSS7IwczC2dyEkxEH3pClJRxpshCpDGL6DKEQ">
            
            <div class="title"> <h3><a href="http://twitter.com/mshipgolf">Follow Me on Twitter</a></h3> 
            </div>
            <ul id="tweets">
        <li>
            Back with a purpose!!  <a href="http://tw0.us/R61" rel="nofollow">http://tw0.us/R61</a> 				<a href="http://twitter.com/mshipgolf/statuses/12320483982708736" class="timesince">5&nbsp;years&nbsp;ago</a>
        </li>
        <li>
            Check out these great slow motion golf swings from the 2010 Ryder Cup....Tiger Woods is looking primed!  <a href="http://tw0.us/QW8" rel="nofollow">http://tw0.us/QW8</a> 				<a href="http://twitter.com/mshipgolf/statuses/26020692478" class="timesince">6&nbsp;years&nbsp;ago</a>
        </li>
        <li>
            One less thing to think about in your golf swing...Forget restricting with the hips in the takeaway... <a href="http://tw0.us/QV5" rel="nofollow">http://tw0.us/QV5</a> 				<a href="http://twitter.com/mshipgolf/statuses/25837807559" class="timesince">6&nbsp;years&nbsp;ago</a>
        </li>
        
        </ul>
        </div>
    </div>
</div>