<div class="primary-content t-border">
    <h1>Sudent Page under Construction!</h1>
    <p class="intro">
        Greengo Golf brings teachers and students together to improve your golf swing.
    </p>
</div>