<div class="primary-content t-border">
    <a class="callout" href="/johnGreen.jpg">Find out more</a>
    <div>
    
    <ul>
        <li ng-repeat="video in vCtrl.videoList" ng-click="vCtrl.activeVideo=video.videoURL"><a>{{video.title}} posted by {{video.user}}</a></li>
    </ul>

    </div>
    <div class="video-container" ng-init="vCtrl.getVideos()">
       <!--<video width="416" height="312" controls><!--320 X 240 -->
            <!--<source src="/JohnS2.mp4" type="video/mp4">-->
            <!-- <source ng-src="{{vCtrl.activeVideo}}" type="video/mp4">-->
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            <!--<source src="{{vCtrl.activeVideo | trustUrl}}">-->
        <!--</video>-->

        <video width="416" height="312" controls="controls" src="{{vCtrl.activeVideo | trustUrl}}"></video>
    </div>
    
    <input type="file"
        ng-model="vCtrl.videoFile" 
        ngf-pattern="'*'"
        ngf-accept="'video/*'"
        ngf-select="vCtrl.postVideo()"
    />
  <input type="text" ng-model="additionalData">
  <div ngf-select ng-model="files" ></div>
        
    <div >
        <button ng-click="vCtrl.openModal();">Open Modal</button>
        <button ng-click="vCtrl.saveModal()">Save Screen Shot</button>
        <div id='modalBox' onclick="vCtrl.moveModal();" ng-show="vCtrl.editing" ng-style="vCtrl.modalBoxStyles">
            <canvas crossOrigin="Anonymous" id='canvas'></canvas>
            <textarea class="tips" ng-Label="Golf Tips" type="text" placeholder="Enter Golf Tips:" ng-model="vCtrl.canData.tips"></textarea>
            <span class="close" ng-click="vCtrl.Close()">X</span>
        </div>
        <!--Edited Sreen Area-->
        <div id="screenSavesContext">
            <h3>{{vCtrl.canData[0].imgGName}}</h3>
            <ul class="makeLeft">
                <li ng-repeat="imageData in vCtrl.canData" style="list-style:none" class="imgContainer"> {{$index}}
                    <img ng-src="{{imageData.imgData}}" ng-click="vCtrl.loadSnapshot($index, imageData, imageData.imgComments, $event)" ng-Dblclick="vCtrl.removeItem($index)" class="snapshot">
                </li>
            </ul>
        </div>
    </div>
</div>